In [ ]:
# Forex Prediction Data Analysis
# Objectives
# Load and process datasets
# To ispect data for wrong format'data typs etc
# Analyze the data to find pattern
# Visualize the data to understand trends and distributions
# Evaluate the model performnce using appropriate metrics
# Identify patterns and correlations
# Save the cleaned and processed datasets

In [6]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [8]:
# load dataset and perform 
df = pd.read_csv('forex_predictions_data.csv')
# initual inspection
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             226 non-null    object
 1   Open             224 non-null    float64
 2   High             220 non-null    float64
 3   Low              225 non-null    float64
 4   Close            212 non-null    float64
 5   Volume           226 non-null    object
 6   Predicted_Close  222 non-null    float64
 7   Currency_Pair    229 non-null    object
 8   Signal           227 non-null    object
 9   Confidence       218 non-null    float64
dtypes: float64(6), object(4)
memory usage: 18.0+ KB

In [9]:
# Descriptive statistics
df.describe()

,Open,High,Low,Close,Predicted_Close,Confidence
count,224.000000,220.000000,225.000000,212.000000,222.000000,218.000000
mean,1.239946,1.753113,0.750030,1.245072,1.250415,0.756468
std,0.148956,0.147816,0.150434,0.140594,0.156102,0.135125
min,1.002530,1.505420,0.505680,1.002320,1.000120,0.500000
25%,1.111860,1.638832,0.614320,1.122535,1.115280,0.652500
50%,1.248105,1.763400,0.746310,1.235910,1.259605,0.760000
75%,1.365100,1.877682,0.877570,1.368805,1.392158,0.870000
max,1.493440,1.995250,0.999860,1.498440,1.499680,1.000000

In [10]:
df.shape

(229, 10)

In [11]:
# Handling bad data, empty cells/value, wrong data, wrong format and duplicates
# Empty values
# Check for missing values
print("Missing values in each colomn")
df.isnull()

Missing values in each colomn

,Date,Open,High,Low,Close,Volume,Predicted_Close,Currency_Pair,Signal,Confidence
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
224,False,False,False,False,False,False,False,False,False,False
225,False,False,False,False,True,False,False,False,False,False
226,False,False,False,True,False,False,False,False,False,False
227,False,False,False,False,False,False,False,False,False,False
228,False,False,False,False,True,False,False,False,False,False

In [13]:
# Handle missing values (use fillna method to fill in the mean, mode or median)
# For numerical data, we fill using mean or median
numeric_cols = ['Open', 'High', 'Low', 'Close', 'Volume', 'Predicted_Close', 'Confidence']
for col in numeric_cols: 
    if col in df.columns:  # Fixed typo: 'colomns' -> 'columns'
        df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert to numeric, coercing errors to NaN
        # fill NaN values with the median of the column
        df[col] = df[col].fillna(df[col].median())  # Fixed indentation

# For categorical columns, we can fill missing values with the mode
categorical_cols = ['Signal']
for col in categorical_cols:
    if col in df.columns:
        df[col] = df[col].fillna(df[col].mode()[0])  # Fixed indentation

# Check again for missing values
print("Missing values after handling:")
print(df.isnull().sum())  # Removed extra period at end

Missing values after handling:
Date               3
Open               0
High               0
Low                0
Close              0
Volume             0
Predicted_Close    0
Currency_Pair      0
Signal             0
Confidence         0
dtype: int64

In [ ]:
# Data in Wrong Format
# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Handle volume column with 'error' values
df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')  # Convert to numeric, coercing errors to NaN

# Fill NaN values in 'Volume' with the median
df['Volume'] = df['Volume'].fillna(df['Volume'].median())
# Clean the confidence column
df['Confidence'] = pd.to_numeric(df['Confidence'], errors='coerce')  # Convert to numeric, coercing errors to NaN
# Fill NaN values in 'Confidence' with the median
df['Confidence'] = df['Confidence'].fillna(df['Confidence'].median())